<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
</head>
<body >
    <form action="analyze" method="POST">{% csrf_token %}
        <h1>Add Your Text for Remove Punctuations process...</h1>
        <textarea name="text" style="margin: 20px; height: 171px; width: 965px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">Uppercase <br>
        <input type="checkbox" name="newlineremover">New Line Remover <br>
        <input type="checkbox" name="extraspace">Extra space removerer <br>
        <input type="checkbox" name="charcount">character Counting<br>
        <br> <button type="submit">Analyze Text</button>
    </form>
    
</body>
</html>